<!doctype html>
<title>YeSS - YeSentimentSearcher</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>YeSS - YelpSentimentSearcher</h1>
  <div class="metanav">
  Toronto
  <a href="{{ url_for('index') }}">Home</a>
  </div>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}

  <br>
  <div class="metanav_foot">ICS5111 ~ Etienne Bonanno & James Farrugia ~ 2017/2018</div>
</div>

