{% extends "layout.html" %}
{% block body %}

<h2>{{ username }}'s profile</h2>

{% if session.username %}
    {% if session.username == username %}
        <h3>Users similar to you:</h3>
        <p>There aren't any users who've blogged about the same tags as you!</p> 
        <h3>Your recent posts:</h3>
    {% else %}
	  <p>{{ username }} has liked some of your posts and hasn't blogged about any of the same tags </p>

	  <h3>{{ username }}'s recent posts:</h3>
	{% endif %}
{% endif %}

{% include "display_posts.html" %}

{% endblock %}
